{% set from_me = packet.from_node_id == node_id %}
{% set to_me = packet.to_node_id == node_id %}

<article style="margin: calc(var(--pico-spacing)*1.5) 0;">
  <header><strong>
    <span {% if from_me %} class="fw-bold" {% endif %}>
            {{packet.from_node.long_name}} (
            {%- if not from_me -%}
            <a href="/node_search?q={{packet.from_node_id|node_id_to_hex}}">
            {%- endif -%}
            {{packet.from_node_id|node_id_to_hex}}
            {%- if not from_me -%}
            </a>
            {%- endif -%}
            )
        </span>
        ->
        <span {% if to_me %} class="fw-bold" {% endif %}>
            {{packet.to_node.long_name}} (
            {%- if not to_me -%}
            <a hx-target="#node" href="/node_search?q={{packet.to_node_id|node_id_to_hex}}">
            {%- endif -%}
            {{packet.to_node_id|node_id_to_hex}}
            {%- if not to_me -%}
            </a>
            {%- endif -%}
            )
        </span>
  </strong></header>
  <div>

    <strong>Packet ID</strong> : {{packet.id}} <a href="/packet/{{packet.id}}">🔎</a>
    <br /><strong>Import Time</strong> : {{packet.import_time.strftime('%-I:%M:%S %p - %d-%m-%Y')}}
    <br /><strong>Packet</strong> :
    <pre style="margin: calc(var(--pico-spacing)) 0;">{{packet.data}}</pre>

    <strong>Payload</strong> :
    {% if packet.pretty_payload %}
    <div>{{packet.pretty_payload}}</div>
    {% endif %}
    {% if packet.raw_mesh_packet and packet.raw_mesh_packet.decoded and packet.raw_mesh_packet.decoded.reply_id %}
      <i>(Replying to: <a href="/packet/{{ packet.raw_mesh_packet.decoded.reply_id }}">{{ packet.raw_mesh_packet.decoded.reply_id }}</a>)</i>
    {% endif %}
    {% if  packet.raw_mesh_packet.decoded and packet.raw_mesh_packet.decoded.portnum == 70 %}
        <ul>
            {% for node_id in packet.raw_payload.route %}
                <li><a
                        href="/packet_list/{{node_id}}"
                    >
                        {{node_id | node_id_to_hex}}
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if packet.raw_mesh_packet.decoded.want_response %}
        <a href="/graph/traceroute/{{packet.id}}">graph</a>
        {% else %}
        <a href="/graph/traceroute/{{packet.raw_mesh_packet.decoded.request_id}}">graph</a>
        {% endif %}
    {% endif %}
    <pre style="margin: calc(var(--pico-spacing)) 0;">{{packet.payload}}</pre>
  </div>  
  <footer><small>{{packet.import_time.strftime('%-I:%M:%S %p - %d-%m-%Y')}}</small></footer>
</article>

        
        
        

